<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#authFormsModal"><i class="fas fa-address-card"></i>
  User Options
</button>

<!-- Modal -->
<div class="modal fade" id="authFormsModal" tabindex="-1" role="dialog" aria-labelledby="authModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="authModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="sign-out" class="border m-4 p-4">
          <div class="form-group">
            <legend>Sign Out!</legend>
            <input type="submit" value="Sign out!" class="btn btn-danger">
          </div>
        </form>

        <form id="change-password" class="border m-4 p-4">
          <div class="form-group">
            <label for="old-pw">Current Password</label>
            <input id="old-pw" type="password" name="passwords[old]" placeholder="Old Password">
          </div>
          <div class="form-group">
            <label for="old-pw">New Password</label>
            <input id="new-pw" type="password" name="passwords[new]" placeholder="New Password">
          </div>
          <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>

<ul class="message-board list-group"></ul>

<form id="send-message" class="border p-4">
  <div class="form-group">
    <input type="text" name="message[text]" placeholder="start typing...">
    <input type="submit" class="btn btn-secondary" value="Submit">
  </div>
</form>
