<form id="sign-up" class="border">
  <fieldset>
    <legend>Sign up!</legend>
    <input type="text" name="credentials[email]" placeholder="Email">
    <input type="password" name="credentials[password]" placeholder="Password">
    <input type="password" name="credentials[password_confirmation]" placeholder="Confirm Password">
    <input type="submit" value="Sign up!">
  </fieldset>
</form>

<form id="sign-in" class="border">
  <fieldset>
    <legend>Sign in!</legend>
    <input type="text" name="credentials[email]" placeholder="Email">
    <input type="password" name="credentials[password]" placeholder="Password">
    <input type="submit" value="Sign in!">
  </fieldset>
</form>
