@import '~bootstrap/scss/bootstrap';

.failure {
  color: red;
  font-weight: bold;
}

.success {
  color: green;
  font-weight: normal;
}

.message-board {
  border: 2px solid black;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  width: 60%;
  height: 70%;
  max-height: 500px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}
